
.git/
.gitignore
node_modules/
www/
android/
scripts/
.github/
*.md
package.json
package-lock.json
eslint.config.js
.editorconfig
capacitor.config.json
config.js
.env
.env.*
Dockerfile
.dockerignore
google-services.json
